*{
 box-sizing: border-box;


}
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0%;
  padding: 0%;
}



body{

 background:linear-gradient( rgb(95, 81, 158), rgb(182, 99, 150), rgb(226, 92, 92));
 font-size: medium;
 font-family: 'Courier New', Courier, monospace;
  

}

#header-img{

width:33%;
height: 20%;
margin: 20%;

}

#nav-bar {
position: fixed;
justify-content: center;
background:black;
height:1%;
color:aliceblue;
  padding: 10px 0;
  display: flex;
  top:0;             
  left:0;             
  width: 100%;
 z-index: 1000; 
 
}


ul {
  list-style: none;        
  display: flex;         
  justify-content: center;
  gap: 20px;              
  margin: 0;
  padding: 0;
}

li a {
  color: aliceblue;
  text-decoration: none;
  font-weight: bold;
}

#form fieldset{
background-color:black;
color:aliceblue;
width:30%;
height:40%;
 padding: 10px;
 margin: 30px;
display: flex;  
 font-size: 16px;
  letter-spacing: 1px;   
  line-height: 2; 
  gap: 15px;      
}



.about{

background-color:black;
color:aliceblue;
margin: 10%;
}


.home{

background-color:black;
color:aliceblue;
width:60%;
height:60%;
margin: 20%;


}

#video{

width:90%;
height:80%;

}

img{

width:30%;

height:50%;

}
.contact{

color:black;
width:30%;
margin: 20%;
height:50%;

}
.contact a{

color:black;

}


@media (max-width: 2000px) {
#video{

width:90%;
height:80%;

}

img{

width:30%;

height:50%;

}

}
